In [ ]:
#basic imports
from datasets import load_dataset
import pandas as pd

c:\Users\Jatin\Desktop\RAG-chromadb\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
#Loading the dataset
dataset = load_dataset("Abirate/english_quotes")

In [ ]:
df = pd.DataFrame(dataset)
df.head()

                                               train
0  {'quote': '“Be yourself; everyone else is alre...
1  {'quote': '“I'm selfish, impatient and a littl...
2  {'quote': '“Two things are infinite: the unive...
3  {'quote': '“So many books, so little time.”', ...
4  {'quote': '“A room without books is like a bod...

In [4]:
df = pd.DataFrame(dataset['train'])

In [5]:
df.head()

,quote,author,tags
0,“Be yourself; everyone else is already taken.”,Oscar Wilde,"[be-yourself, gilbert-perreira, honesty, inspi..."
1,"“I'm selfish, impatient and a little insecure....",Marilyn Monroe,"[best, life, love, mistakes, out-of-control, t..."
2,“Two things are infinite: the universe and hum...,Albert Einstein,"[human-nature, humor, infinity, philosophy, sc..."
3,"“So many books, so little time.”",Frank Zappa,"[books, humor]"
4,“A room without books is like a body without a...,Marcus Tullius Cicero,"[books, simile, soul]"

In [7]:
df.shape

(2508, 3)

In [8]:
df.describe

<bound method NDFrame.describe of                                                   quote  \
0        “Be yourself; everyone else is already taken.”
1     “I'm selfish, impatient and a little insecure....
2     “Two things are infinite: the universe and hum...
3                      “So many books, so little time.”
4     “A room without books is like a body without a...
...                                                 ...
2503  “Morality is simply the attitude we adopt towa...
2504  “Don't aim at success. The more you aim at it ...
2505  “In life, finding a voice is speaking and livi...
2506  “Winter is the time for comfort, for good food...
2507                      “Silence is so freaking loud”

                     author                                               tags
0               Oscar Wilde  [be-yourself, gilbert-perreira, honesty, inspi...
1            Marilyn Monroe  [best, life, love, mistakes, out-of-control, t...
2           Albert Einstein  [human-nature, humor, infinity, philosophy, sc...
3               Frank Zappa                                     [books, humor]
4     Marcus Tullius Cicero                              [books, simile, soul]
...                     ...                                                ...
2503           Oscar Wilde,                             [morality, philosophy]
2504      Viktor E. Frankl,                               [happiness, success]
2505           John Grisham                               [inspirational-life]
2506          Edith Sitwell                            [comfort, home, winter]
2507          Sarah Dessen,    [just-listen, loud, owen, sara-dessen, silence]

[2508 rows x 3 columns]>

In [ ]:
df.describe() #

,quote,author,tags
count,2508,2508,2508
unique,2507,880,1962
top,“A woman's heart should be so hidden in God th...,"Cassandra Clare,",[love]
freq,2,99,75

In [ ]:
df.isnull().sum()

quote     0
author    0
tags      0
dtype: int64

In [ ]:
#lowering the quotes and author to lower alphabets
df['quote'] = df['quote'].str.lower()
df['author'] = df['author'].str.lower()
df.head()

,quote,author,tags
0,“be yourself; everyone else is already taken.”,oscar wilde,"[be-yourself, gilbert-perreira, honesty, inspi..."
1,"“i'm selfish, impatient and a little insecure....",marilyn monroe,"[best, life, love, mistakes, out-of-control, t..."
2,“two things are infinite: the universe and hum...,albert einstein,"[human-nature, humor, infinity, philosophy, sc..."
3,"“so many books, so little time.”",frank zappa,"[books, humor]"
4,“a room without books is like a body without a...,marcus tullius cicero,"[books, simile, soul]"

In [ ]:
#Tags is a list we cannot apply direct .lower() method here so using lambda function and list comprehension
df['tags'] = df['tags'].apply(lambda x : [tags.lower() for tags in x])

In [13]:
df.dtypes

quote     object
author    object
tags      object
dtype: object

In [ ]:
#data looks clean so we can dump it in the next step
df.head(4)

,quote,author,tags
0,“be yourself; everyone else is already taken.”,oscar wilde,"[be-yourself, gilbert-perreira, honesty, inspi..."
1,"“i'm selfish, impatient and a little insecure....",marilyn monroe,"[best, life, love, mistakes, out-of-control, t..."
2,“two things are infinite: the universe and hum...,albert einstein,"[human-nature, humor, infinity, philosophy, sc..."
3,"“so many books, so little time.”",frank zappa,"[books, humor]"

In [ ]:
# Data is cleaned we same in the same folder we are editing this notebook
df.to_csv("quotes.csv", index=False)